<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>227730898463-12jhn6fbml6pq1vailvrhk0u2c5d9nop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227730898463-12jhn6fbml6pq1vailvrhk0u2c5d9nop</string>
	<key>API_KEY</key>
	<string>AIzaSyCSavcDWNwEnksM_IomqB5ApV83D_c9DX8</string>
	<key>GCM_SENDER_ID</key>
	<string>227730898463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charlie.SmartHome-ios-test</string>
	<key>PROJECT_ID</key>
	<string>smarthome-3c6b9</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthome-3c6b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:227730898463:ios:584424106c362509</string>
	<key>DATABASE_URL</key>
	<string>https://smarthome-3c6b9.firebaseio.com</string>
</dict>
</plist>
